body{
    margin: 0;
    padding: 0;
    
}
.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.content-container{
    height: 280px;
    width: 498px;
    background-color: aqua;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
img{
    width: 70px;
    height: 150px;
    object-fit: cover;
}